@import "tailwindcss";

@theme {
  --color-slate-950: #020617;
  --color-slate-900: #0f172a;
  --color-purple-500: #a855f7;
  --color-blue-500: #3b82f6;
}

@layer base {
  body {
    @apply bg-slate-950 text-white antialiased overflow-x-hidden;
  }
}
